.figures{
    color: limegreen;
    background-color: black;
    font-family: myFont;
    font-size: 20px;
}

.imgGalery {
    height: 170px;
    width: 260px;
    position: static;
    left: 0px;
    top: 5px;
    margin: 10px;
}

.widthImg {
    width: 300px;
}

#f1 {
    position: absolute;
    left: 560px;
    top: 430px;
}

#f2{
    position: absolute;
    left: 870px;
    top: 430px;
}

#f3 {
    position: absolute;
    left: 1105px;
    top: 430px;
}

#f4 {
    position: absolute;
    left: 600px;
    top: 620px;
}

#f5 {
    position: absolute;
    left: 900px;
    top: 620px;
}

#f6 {
    position: absolute;
    left: 1200px;
    top: 620px;
}

#f7 {
    position: absolute;
    left: 570px;
    top: 820px;
}

#f8 {
    position: absolute;
    left: 900px;
    top: 820px;
}

#f9 {
    position: absolute;
    left: 1200px;
    top: 820px;
}

#f10 {
    position: absolute;
    left: 730px;
    top: 1020px;
}

#f11 {
    position: absolute;
    left: 1050px;
    top: 1020px;
}

.colorImg2 {
    position: relative;
    left: 130px;
}

#buttonReviews {
    position: static;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}